<div class="wrapper">
  <div class="wrapper-container">
    <p class="wrapper-title">ログイン</p>
    <div class="wrapper-form">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        <p class="wrapper-field">メールアドレス</p>
        <%= f.email_field :email %>
        <p class="wrapper-field">パスワード</p>
        <%= f.password_field :password %>
    </div>
        <%= f.submit "ログインする", class: "blue login-margin", "data-turbo": "false" %>
      <% end %>
  </div>
</div>
